.card {
  border-radius: 35px;
  width: 270px;
}

#temperature {
  color: #1C2331;
}

#weather-code {
  color: #868B94;
  margin-left: 5px;
}

#weather-picture {
  height: 70px;
}

#whole-card {
  padding-left: 0px;
  padding-right: 20px;
}
